// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Theme
@import 'themes/blue_theme';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import 'card_meal';
@import 'calendar_overrides';

body {
    background-color: unset;
}

html {
    position: relative;
    background-color: $almost-white;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.33;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.navbar {
    border-bottom: 1px solid $nav-border-color;
    background-color: $nav-background-color;
}

.nav-link {
    font-size: 18px;
    color: $nav-item-color;
}

.container__main {
    background-color: $almost-white;
    border-radius: 5px;
    padding: 30px;
}

.selection {

    &__img-container {
        max-width: 150px;
        max-height: 150px;
        overflow: hidden;
    }

    .form-check-label {
        cursor: pointer;
        border: 2px dashed transparent;
    }

    .form-check-label:hover {
        background-color: $gray-400;
    }

    .form-check-input:checked + .form-check-label {
        border: 2px dashed $primary;
    }
}

.btn i {
    margin-right: 10px;
}

h1 a {
    text-decoration: none;

    i {
        margin-right: 10px;
        transition: transform 0.3s ease;
        display: inline-block;

    }

    &:hover i {
        transform: translateX(-5px);
    }
}
