$blue: #335571;
$light-blue: #567995;
$very-light-blue: #bbcedd;
$almost-white: #eceff4;

$body-bg: $almost-white;
$body-color: $blue;

$theme-colors: (
    "primary": $blue
);

$input-bg: white;

$nav-item-color: $light-blue;
$nav-border-color: $very-light-blue;
$nav-background-color: white;

$card-meal-bg: white;
$card-meal-color: $light-blue;
$card-shaddow: #bec8da 0px 0px 10px 0px;
