$blue: #335571;
$light-blue: #567995;
$very-light-blue: #bbcedd;
$almost-white: #eceff4;

$primary: $blue;

$body-bg: white;
$body-color: $blue;
$table-color: $blue;
$background-color: $very-light-blue;

$input-bg: white;

$nav-item-color: $primary;
$navbar-light-active-color: $primary;
$nav-border-color: $very-light-blue;
$nav-background-color: white;

$card-meal-bg: $almost-white;
$card-meal-color: $primary;
$card-border-color: $very-light-blue;
