$green: #337155;
$light-green: #56957a;
$very-light-green: #bbddc6;
$almost-white: #ecf4ef;

$primary: $green;

$body-bg: white;
$body-color: $green;
$table-color: $green;
$background-color: $very-light-green;

$input-bg: white;

$nav-item-color: $primary;
$navbar-light-active-color: $primary;
$nav-border-color: $very-light-green;
$nav-background-color: white;

$card-meal-bg: $almost-white;
$card-meal-color: $primary;
$card-border-color: $very-light-green;
