$purple: #573355;
$light-purple: #75578f;
$very-light-purple: #cdbbdd;
$almost-white: #f4ecf4;

$primary: $purple;

$body-bg: white;
$body-color: $purple;
$table-color: $purple;
$background-color: $very-light-purple;

$input-bg: white;

$nav-item-color: $primary;
$navbar-light-active-color: $primary;
$nav-border-color: $very-light-purple;
$nav-background-color: white;

$card-meal-bg: $almost-white;
$card-meal-color: $primary;
$card-border-color: $very-light-purple;
